@page "/"

<PageTitle>Retimana</PageTitle>

<div class="home">
    <MapBackground />
    <div class="home-content">
        <h1 class="app-title">
            <img class="app-logo" src="images/retimana_logo.svg" alt="Retimana" />
        </h1>
        <button class="start-button" type="button">スタート</button>
    </div>
</div>
